$white:           #fff;
$gray-lighter:    #f8f8f8;
$gray-light:      #ccc;
$gray-mid:        #999;
$gray-dark:       #666;
$gray-darker:     #222;
$black:           #000;
$green:           #2aa442;
$red:             #971b1b;
$gray-blue:       #bbc6cd;
